/**
*  Author: Kevin Avila (@UvealSnow),
*  Created following guidelines from: 
*  http://cssguidelin.es/#the-importance-of-a-styleguide,
*  For: Nuva.Rocks Copyright 2016
*
*/

/*---------------------------------------------------------------------------*\
  # Variables
\*----------------------------------------------------------------------------*/

/**
*  Base colors for the webpage
*  Includes main texts and primary colors
*/

$main-text-color: #444444;
$blue: #3a7bb4;
$yellow: #eeb429;

/**
*  Border mixins to be included with "@include"
*  Keep yourself DRY
*/

@mixin top-left-border-radius ($rad) {
  border-top-left-radius: $rad;
}

@mixin top-right-border-radius ($rad) {
	border-top-right-radius: $rad;
}

@mixin bottom-right-border-radius ($rad) {
	border-bottom-right-radius: $rad;
}




