/**
*
*  Author: Kevin Avila (@UvealSnow),
*  Enterprise: Nuva.Rocks,
*  Created following guidelines from: 
*  http://cssguidelin.es/#the-importance-of-a-styleguide and BEM
*  naming conventions, build mobile first (320::568px).
*  For: ReddeFinanciera, Copyright: Nuva.Rocks 2016.
*
*/
/**
*
*  Table of contents
*  
*  Imports
*    variables.scss - Colors and other values are stored here
*    reset.scss - Basic css reset for every webpage
*    fonts.scss - Add the fonts for this webpage
*
*  Base
*    Text and headers - Styles and modifications required for this style
*    Form styling - Styles for the form inputs and buttons
*    Google Maps styling - Just height, width and margins
*
*  Objects
*    Navbar - Styles for looks and transitions
*    Slider - Just the bases of some slider
*    Webpage sections - The core elements of the webpage styles and 
*      sub-elements are contained in this section
*    Footer - Styles for footer
*
*  Media queries
*    media-queries.scss - All media queries for all resolutions
*      for detailed information look at the TOC in that file
*
*/
/*---------------------------------------------------------------------------*\
  # Imports
\*----------------------------------------------------------------------------*/
/**
*  Author: Kevin Avila (@UvealSnow),
*  Created following guidelines from: 
*  http://cssguidelin.es/#the-importance-of-a-styleguide,
*  For: Nuva.Rocks Copyright 2016
*
*/
/*---------------------------------------------------------------------------*\
  # Variables
\*----------------------------------------------------------------------------*/
/**
*  Base colors for the webpage
*  Includes main texts and primary colors
*/
/**
*  Border mixins to be included with "@include"
*  Keep yourself DRY
*/
/**
*  Author: Kevin Avila (@UvealSnow),
*  Created following guidelines from: 
*  http://cssguidelin.es/#the-importance-of-a-styleguide,
*  For: Nuva.Rocks Copyright 2016
*
*/
/*---------------------------------------------------------------------------*\
  # Reset
\*----------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
  text-decoration: none; }

body {
  color: #444444;
  font-family: 'Avenir LT Std'; }

ol,
li {
  list-style: none; }

h1 {
  font-size: 30px; }

p {
  font-size: 20px; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

/**
*  Author: Kevin Avila (@UvealSnow),
*  Created following guidelines from: 
*  http://cssguidelin.es/#the-importance-of-a-styleguide,
*  For: Nuva.Rocks Copyright 2016
*
*/
/*---------------------------------------------------------------------------*\
  # Fonts
\*----------------------------------------------------------------------------*/
/* This stylesheet generated by Transfonter (http://transfonter.org) on August 29, 2016 6:43 PM */
@font-face {
  font-family: 'Avenir LT Std';
  src: url("fonts/AvenirLTStd-Book.eot");
  src: url("fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Book.woff") format("woff"), url("fonts/AvenirLTStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir LT Std';
  src: url("fonts/AvenirLTStd-Heavy.eot");
  src: url("fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Heavy.woff") format("woff"), url("fonts/AvenirLTStd-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
/*---------------------------------------------------------------------------*\
  # Base
\*----------------------------------------------------------------------------*/
/**
*  Text and headers
*
*/
.title {
  color: #444444; }

.body {
  color: #444444; }

.title--right,
.body--right {
  text-align: right; }

.title--constrained {
  max-width: 300px;
  margin: 0 auto; }

.title--white,
.body--white {
  color: white; }

.title--blue,
.body--blue {
  color: #3a7bb4; }

.title--yellow,
.body--yellow {
  color: #eeb429; }

.title--small {
  font-size: 20px; }

.body--small {
  font-size: 15px; }

.title--bold,
.body--bold {
  font-weight: bold; }

.title--padded {
  height: 120px;
  font-size: 35px;
  margin: 12px 0; }

.body--padded {
  font-size: 15px;
  margin: 10px 0; }

.xs {
  margin-top: 15px;
  font-size: 12px;
  display: block; }

/**
*  Form styling
*
*/
input {
  width: calc(100% - 20px);
  max-width: 320px;
  border: 2px solid #eeb429;
  padding: 10px 5px;
  margin: 10px auto; }

.submit {
  width: 100%;
  max-width: 320px;
  height: 50px;
  border-bottom-right-radius: 30px;
  background-color: #eeb429;
  text-align: left;
  padding: 0 15px;
  font-size: 25px;
  font-weight: bold;
  margin: 25px 0; }

.checkbox {
  margin: 25px 0;
  max-width: 320px; }
  .checkbox p {
    margin: 1px 0;
    padding: 0 15px;
    height: 25px;
    font-size: 20px !important; }
  .checkbox .xl {
    font-weight: normal;
    font-size: 28px !important; }

.checkbox--hidden {
  display: none;
  opacity: 0; }

.checkbox.active p {
  color: #eeb429;
  -webkit-transition: color .5s;
          transition: color .5s; }
.checkbox.active span {
  color: white; }

/**
*  Google Maps styling
*
*/
.map {
  margin: 0 auto;
  width: calc(100% - 15px);
  height: 250px; }

/*---------------------------------------------------------------------------*\
  # Objects
\*----------------------------------------------------------------------------*/
/**
*  Navbar
*
*/
.navbar {
  width: 100%;
  height: 67.2px;
  background-color: #3a7bb4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99; }

.navbar__logo {
  width: 120px;
  height: 40px;
  margin: 13.6px; }

.navbar__ham {
  float: right;
  height: 40px;
  width: 40px;
  margin: 11.6px;
  border-radius: 7.5px;
  border: 2px solid white; }
  .navbar__ham img {
    width: 30px;
    height: 30px;
    margin: 5px; }

.navbar__links {
  display: none;
  opacity: 0;
  width: 150px;
  position: absolute;
  right: 0;
  top: 67.2px;
  padding: 15px;
  background-color: #3a7bb4; }
  .navbar__links a {
    color: white;
    display: block;
    text-align: right;
    border-bottom: 2px solid white;
    padding: 8px;
    font-size: 13px; }
  .navbar__links a:last-of-type {
    border-bottom: 0; }

.navbar__links.active {
  display: inline;
  opacity: 1; }

/**
*  Slider
*
*/
.slider {
  width: calc(100% - 18.75px);
  height: 220px;
  margin: 85px auto 25px;
  background-color: transparent;
  position: relative; }

.slider__content {
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0; }

.slider__image {
  border-bottom-right-radius: 100px;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .slider__image img {
    z-index: -1; }

.slider__gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.65) 0%, transparent 100%); }

.slider__text {
  margin: 25px;
  z-index: 1; }

.slider__dots,
.slider__fixed-logo {
  display: none;
  opacity: 0; }

.slider__content.active {
  display: block;
  opacity: 1; }

/**
*  Webpage section
*
*/
.section {
  margin: 45px auto;
  width: calc(100% - 18.5px);
  min-height: 100px; }

.info {
  margin: 25px auto;
  width: calc(100% - 18.5px); }
  .info img {
    border-top-left-radius: 100px;
    width: 100%;
    max-height: 250px; }

.learn-more, .learn-more--left {
  border-bottom-right-radius: 30px;
  background-color: #3a7bb4;
  height: 35px;
  max-width: 320px; }
  .learn-more img, .learn-more--left img {
    height: 20px !important;
    width: 20px !important;
    margin: 10px; }
  .learn-more img, .learn-more--left img,
  .learn-more p,
  .learn-more--left p {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px; }

.learn-more--left {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  float: right; }
  .learn-more--left p {
    width: 238px; }

.icons {
  width: calc(100% - 18.5px);
  margin: 25px auto; }

.icons__column {
  height: 150px;
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  .icons__column p {
    max-width: 200px;
    margin: 15px auto;
    display: block; }
  .icons__column img {
    width: 55px;
    height: 55px; }

.featured {
  width: calc(100% - 18.75px);
  margin: 25px auto; }
  .featured img {
    width: 100%; }

.featured__image, .featured__image--right, .featured__image--left, .featured__image--separator {
  width: 100%;
  min-height: 100px;
  overflow: hidden; }
  .featured__image img, .featured__image--right img, .featured__image--left img, .featured__image--separator img {
    width: 100%; }

.featured__image--right {
  border-top-right-radius: 100px; }

.featured__image--left {
  border-top-left-radius: 100px; }

.featured__image--separator {
  border-bottom-right-radius: 80px;
  height: 100px;
  margin: 0 0 40px 0; }

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0; }

.row {
  width: calc(100% - 18.75px);
  margin: 0 auto; }

.column__2 {
  width: 100%;
  margin: 25px auto; }

/**
*  Footer
*
*/
.footer {
  width: 100%;
  height: 65px;
  background-color: #eeb429; }
  .footer p {
    height: 20px;
    text-align: right;
    margin: 0 15px 5px 15px;
    padding-top: 40px; }
  .footer a {
    color: white;
    text-decoration: underline; }

/*---------------------------------------------------------------------------*\
  # Media queries
\*----------------------------------------------------------------------------*/
/**
*
*  Author: Kevin Avila (@UvealSnow),
*  Enterprise: Nuva.Rocks,
*  Created following guidelines from: 
*  http://cssguidelin.es/#the-importance-of-a-styleguide and BEM
*  naming conventions, build mobile first (320::568px).
*  For: ReddeFinanciera, Copyright: Nuva.Rocks 2016.
*
*/
/**
*  Table of contents
*
*
*
*
*
*
*
*/
@media screen and (min-width: 760px) {
  .navbar__links {
    width: 320px;
    border-bottom-left-radius: 15px; }
    .navbar__links a {
      font-size: 15px; }

  .slider {
    width: calc(100% - 65px); }

  .slider__image {
    width: calc(100% - 150px);
    margin: 0;
    max-height: 200px; }

  .info {
    width: calc(30% - 15px) !important;
    margin: 0 7.5px;
    display: inline-block; }
    .info img {
      border-top-left-radius: 60px; }
    .info h1 {
      font-size: 24px;
      text-align: left !important; }

  .learn-more p, .learn-more--left p {
    font-size: 15px; }

  .title--constrained {
    margin: 0 35px; }

  .icons {
    width: calc(100% - 65px); }

  .icons__column {
    display: inline-block;
    width: 250px;
    margin: auto 0; }
    .icons__column img {
      float: left;
      margin: 20px;
      display: inline-block;
      vertical-align: top; }
    .icons__column p {
      display: inline-block;
      vertical-align: top;
      width: 150px;
      text-align: left; }

  .featured,
  .info-container {
    width: calc(100% - 65px);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines; }

  .featured__body, .featured__image, .featured__image--right, .featured__image--left, .featured__image--separator,
  .info {
    display: inline-block;
    width: calc(50% - 15px);
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1; }

  .featured__body--right {
    display: inline-block;
    width: calc(50% - 15px);
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    float: right; }

  .featured__image, .featured__image--right, .featured__image--left, .featured__image--separator {
    height: 150px; }

  .featured__image--separator {
    width: calc(100% - 46.5px);
    margin: 0 auto;
    display: block; }

  .row {
    width: calc(100% - 46.5px);
    display: block;
    margin: inherit;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines; }

  .column__2 {
    display: inline-block;
    width: calc(50% - 15px);
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1; }
    .column__2 h1 {
      max-width: calc(100% - 50px); } }
@media screen and (min-width: 1020px) {
  .title--constrained {
    margin: 0; }

  .title--bold {
    text-align: left; }

  .navbar {
    height: 168px;
    position: absolute; }

  .navbar__logo {
    height: 56px;
    margin: 56px; }

  .navbar__ham {
    display: none;
    opacity: 0; }

  .navbar__links {
    display: inline-block;
    opacity: 1;
    width: 630px;
    top: 0;
    margin: 39px 0; }
    .navbar__links a {
      text-align: center;
      border-bottom: 0;
      border-right: 1px solid white;
      font-size: 21px;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      padding: 8px 12px; }
    .navbar__links a:last-of-type {
      border-right: 0;
      font-size: 18px;
      font-weight: normal; }

  .slider {
    margin: 210px auto 25px;
    width: calc(100% - 146px); }

  .slider__image {
    border-bottom-right-radius: 200px;
    width: calc(100% - 230px);
    height: 380px; }

  .section {
    width: calc(100% - 148px);
    margin-left: 78px; }

  .info-container {
    width: calc(100% - 230px);
    margin-right: 0;
    margin-left: 0; }

  .icons,
  .featured,
  .featured__image--separator,
  .row {
    margin: 25px 0; }

  .icons__column {
    margin-right: 25px; }
    .icons__column img {
      margin-left: 0; }

  .featured,
  .section {
    max-width: 870px; }

  .featured__image, .featured__image--right, .featured__image--left, .featured__image--separator {
    width: calc(50% - 45px); }

  .featured__image--separator {
    width: 100%;
    height: 270px;
    border-bottom-right-radius: 150px; } }
